@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="center">
    <h1>Welcome @HttpContext.Current.User.Identity.Name</h1>
    <h2>This is a Home Page</h2>
</div>